%h1 Listing artists

%table
  %thead
    %tr
      %th Name
      %th Genre
      %th
      %th
      %th

  %tbody
    - @artists.each do |artist|
      %tr.artist_info
        %td= artist.name
        %td= artist.genre
        %td= link_to 'Show', artist
        %td= link_to 'Edit', edit_artist_path(artist)
        %td= link_to 'Destroy', artist, :method => :delete, :data => { :confirm => 'Are you sure?' }


%br

= link_to 'New Artist', new_artist_path
